@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


p{
    @apply text-justify #{!important};
}

@layer base{
    h1{
        
        @apply text-5xl font-extrabold text-slate-700 underline decoration-gluOrange w-full underline-offset-8 #{!important};
        margin-bottom: 2ex !important;
    }

    h2{
        @apply text-4xl font-bold text-slate-700 #{!important};
        margin-bottom: 1ex !important;
    }

    #blog-post-content h2{
        @apply text-4xl font-bold text-slate-700 border-b-4 border-gluOrange-300 #{!important};
        margin-top: 1em !important;
        margin-bottom: 1em !important;
    }

    #blog-post-content h3{
        @apply text-3xl font-bold text-slate-700 self-center #{!important};
        margin-bottom: 1ex !important;
        margin-top: 1ex !important;
        &:before{
            content:"";
            display:inline-block;
            margin-left: 5px;
            margin-right: 5px;
            width: 10px;
            height: 10px;
            //vertical-align: 50%;
            background-color: theme('colors.gluOrange.400');
        }
    }

    #blog-post-content ul{
        @apply list-disc place-items-center #{!important};
        margin-left: 4em;
        margin-bottom: 1em;

        &>li::marker{
            color: theme('colors.gluOrange.400');
            font-size: 1.3em;
        }
    }

    #blog-post-content blockquote{
        @apply ml-8 p-4 my-4 border-l-4 border-gluOrange-300 bg-gluOrange-50 dark:border-gray-500 dark:bg-gray-800 #{!important};
    }

    #blog-post-content p{
        padding-bottom:1em !important;
    }
}