---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...props } = Astro.props;
---

<div class="card" class:list={[className]} {...props}>
  <slot />
</div>
<style>
  .card {
    width: 100%;
    height: auto;
    /*background-color: #121212;*/
    background-color: #191919;
    border: 1px solid #4D3A55;
    padding: 1.5rem;
    overflow: hidden;
    margin-bottom:20px;
  }
</style>