---
---
<div class="layout-grid">
  <slot name="left" />
  <slot name="right" />
</div>

<style>
  .layout-grid {
    position: relative;
    align-items: start;
    align-content: stretch;
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: auto;
  }

  @media screen and (max-width: 1380px) {
    .layout-grid {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: 640px) {
    .layout-grid {
      margin: 0 1rem;
      gap: 1rem;
    }
  }
</style>