---
import TOC from "../components/Toc.vue";
import { Icon } from "astro-icon";
const frontmatter = Astro.props;
console.log(frontmatter);
---

<div class="sticky top-20">
    <div>
        <div
            class="text-center border-y border-solid border-slate-300 text-slate-700 bg-slate-100 mb-4"
        >
            Links del proyecto
        </div>
        <div class="flex">
        {
            frontmatter.info.github && (
                <div class="flex align-center items-center w-1/2 bg-slate-200 hover:bg-slate-800 hover:text-slate-50 border border-slate-400">
                    <a
                        class="flex items-center h-8  m-auto"
                        href={frontmatter.info.github}
                    >
                        <div class="w-6 mr-2">
                            <Icon pack="mdi" name="github" />
                        </div>
                        GitHub
                    </a>
                </div>
            )
        }

        {
            frontmatter.info.twitch && (
                <div class="flex align-center items-center w-1/2 bg-slate-200 hover:bg-slate-800 hover:text-slate-50 border border-slate-400">
                    <a
                        class="flex items-center h-8  m-auto"
                        href={frontmatter.info.twitch}
                    >
                        <div class="w-6 mr-2">
                            <Icon pack="mdi" name="twitch"/>
                        </div>
                        Twitch
                    </a>
                </div>
            )
        }
        </div>
    </div>
    <div>
        <div
            class="text-center border-y border-solid border-slate-300 text-slate-700 bg-slate-100 my-4"
        >
            Índice
        </div>
        <div class="px-4">
            <TOC client:load />
        </div>
    </div>
</div>
