---
import { Icon } from 'astro-icon'

const socialColors="#fff";

---
<div class="w-5"><Icon pack="mdi" name="twitch"   color={socialColors}/></div>
<div class="w-5"><Icon pack="mdi" name="youtube"  color={socialColors}/></div>
<div class="w-5"><Icon pack="mdi" name="twitter"  color={socialColors}/></div>
<div class="w-5"><Icon pack="mdi" name="mastodon" color={socialColors}/></div>

