---
import Equipamiento from "./equipamiento.astro";
import Icon from "../../components/Icon.astro";
---

<Equipamiento>
    <div class="header-container">
        <Icon
            type="lucide"
            name="rss"
            width={24}
            height={24}
            class="glow-icon "
            style="--primary:#ffb845"
        />
        <h2>Equipamiento nivel Medio</h2>
        <span>
            Multímetro (~20€):
(Preferido) https://s.click.aliexpress.com/e/_ol3zHJV
(Alternativa lowcost): https://s.click.aliexpress.com/e/_DCQWqof
    De verdad es igual de válido, aunque más feo.

Soldador (~36€): 
(Preferido) https://s.click.aliexpress.com/e/_DliYve7

Flux:
(TBD)

 Herramientas Soldadura :
(TBD)

Soporte Soldador (~5€): https://s.click.aliexpress.com/e/_DB0rQzN

Estaño:
Para empezar cualquiera que tenga plomo vale
Recomendación más cara: MBO trimetal aleación de estaño, plomo y cobre (60/38/2)

Fuente de alimentación(~50€): 
(Recomendado) http://www.amazon.es/dp/B09C8MT4KM/?tag=labgluon06-21

Analizador lógico (5€): 
(Recomendado) https://s.click.aliexpress.com/e/_DEF99sn
        </span>

        
    </div></Equipamiento
>
